

body, html { font-size: 100%; 	padding: 0; margin: 0;}
/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	--color-text: #1c1b1b;
	--color-bg: #efe6e1;
	--color-link: #b07656;
	--color-link-hover: #000;
	--color-deco: #e4dbd6;
	color: var(--color-text);
	background: var(--color-bg);
	font-family: paralucent, sans-serif;
	font-family: quiroh, sans-serif;
	font-family: mr-eaves-xl-sans, sans-serif;
}
a {
	line-height: 1.3;
	outline: none;
	color: var(--color-link);
	text-decoration: none;
}
a:hover,
a:focus {
	color: #000;
}
button:focus {
	outline: none;
}



/* Header */
.htmleaf-header{
	padding: 1em 190px 1em;
	letter-spacing: 2px;
	text-align: center;
}
h2 {
	font-family: paralucent, sans-serif;
	font-weight: 400;
	font-size: 3rem;
	line-height: 2;
	margin-bottom: 0;
}


.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}

/* icomoon */
.icon-htmleaf-home-outline:before {
	content: "\e5000";
}

.icon-htmleaf-arrow-forward-outline:before {
	content: "\e5001";
}

@media screen and (max-width: 50em) {
	.htmleaf-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	.htmleaf-header h2 {
		font-size: 2.15em;
	}
}
